body { font-family: 'Noto Sans KR', sans-serif;
}

.header_nav_stick {
    position: sticky;
    top: 0px;
    z-index: 100 !important;
    border-bottom: 1px solid #d6d6d6;
}

  .nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 1200px;
    margin: 0 auto;
    padding: 10px 60px;
  }
  
  .nav_menu {
    background-color: white;
    display: flex;
    list-style: none;
    padding-left: 0;
  }
  
  .nav_menu li {
    padding: 8px 20px;}
           
.main_img {
    width: 500px;
    float: left;
    text-align: center;
    padding: 0;
    margin: 0 auto;
}

.detail_box_right_left {
    background-color:  #d6d6d6;
    margin: 0 auto;
}
    .detail_box {
        background-color: #ffffff;
        width: 1200px;
        border: 1px solid #d6d6d6;
        margin: 0 auto;
        padding: 60px;
        height: 500px;
    }
    
    .left_area {
      float: left;
    }
    
    .right_area {
      float: right;
    }
    
    .product_name {
      display: block;
      font-size: 30px;
      font-weight: 400;
      height: 30px;
      line-height: 30px;
      width: 500px;
    }
    
    .righ_area_subheading{
      color: rgb(136, 136, 136);
      display: block;
      font-size: 15px;
      font-weight: 400;
      height: 17px;
      line-height: 17px;
      width: 500px;
    }

.h1_text, .h4, .h5 {
  margin: 4px 0px 4px 0px;
}
    .under_area {
      position: relative;
      margin: 0px;
      border-bottom: 1px solid #dedede;
      padding: 0 0 10px;
    }

    td {
        font-weight: normal;
        color: black;
        width: 115px;
        padding: 10px 0 5px 5px;
        text-align: left;
        vertical-align: middle;
    }
    
    .under_area_info {
      font-size: 13px;
    }

/* 주문 토탈 가격 */
#totalPrice {
  text-align : right;
  padding: 10px 30px 19px;
  font-size: 20px;
  font-weight: 1000;
}

/* 장바구니 담기 */
.btn_add_cart {
    width: 50%;
    border: none;
    font-size: 15px;
    padding: 18px;
    background: #fecb3e;
    color: black;
    float: left;
}

/* 구매하기 */
.btn_add_order {
    display: inline-block;
    width: 50%;
    border: none;
    font-size: 15px;
    padding: 18px;
    background: #000000;
    color: #ffff;
    float:right;
}  

#prdDetail {
    width: 1200px;
    border-bottom: 3px solid #dedede;
    margin: 0 auto;
    padding: 10px 60px;
    height: 60px;
}

.tab_detail_menu {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.tab_detail_menu li {
  padding: 15px 20px;
  background-color: #dedede;
  border: 1px solid silver;
}

.tab_detail_start {
    width: 1200px ;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 10px 60px;
}

.detail_image_start {
    width: 1200px ;
    margin: 0 auto;
    padding: 10px 60px;
    height: 30px;
}

.detail_image, .detail_write {
   display: flex;
   justify-content: center;
}

/* 상세페이지 아래부분 */
.detail_end_sec_start {
   background-color:  #f6f7f7;
   width: 1200px ;
   margin: 0 auto;
   height: 500px;
   padding: 10px 60px;
    }

.detail_end_sec1 {
  float:left;
  margin: 0px 50px 0px 50px;
  width: 500px;
  height: 500px;
}

.detail_end_sec2 {
  float:right;
  margin: 0px 50px 0px 0px;
  width: 500px;
  height: 500px;
}


.detail_end_sec1_up, .detail_end_sec2_up {
    color: black;
    font-size: 15px;
}

.detail_end_sec1_down, .detail_end_sec2_down {
    border-top: 1px solid black;
    color: black;
    font-size: 12px;
    line-height: 10px;
}

/* footer 입니다 */
.detail_footer_start{
  background-color:  #ffffff;
  margin: 0 auto;
  height: 50px;
}

#footer_wrap {
    background-color:  #d6d6d6;
    margin: 0 auto;
    height: 150px;
}
.footer_info {
  display: flex;
}

.footer_info_top_btn {
   width: 1200px ;
   padding: 10px 10px;
   margin: 0 auto;
}

.footer_info_start dt {
  float: left;
  margin: 0px;
}

.footer_info_start {
  flex: 2;
  width: 500px;  
  margin: 0px;
}

.footer_info_center {
  flex: 1;
  width: 200px;
  text-align: center;
}

.footer_info_end {
  flex: 2;
  width: 500px;
  text-align: right;
  line-height: 50px;  
}

#top_btn {
	position: fixed; 	
  bottom: 100px; 		
  right: calc(25% - 300px);
}